@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:wght@700&display=swap');

:root{
    --verdeNeon:#38fd00;
    --font1: 'Victor Mono',monoscape;
}

body{
    margin: 0;
    font-size: 3vh;
    color:var(--verdeNeon);
    background: black;
    letter-spacing: 1px;
}
div{height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1{
    font-family: var(--font1);
}
h1:hover{
    color:red;
}